In [22]:
import pendulum
import pandas as pd
from elasticsearch import Elasticsearch
from retry import retry


es = Elasticsearch(['192.168.80.183'], http_auth=('elastic', 'LOOP2themoon'), port=9200)

def serialize(hit):
    fields = hit["fields"]
    for k in fields:
        fields[k] = fields[k][0]
    return fields

@retry()
def get_es_stock(code='US.APLE',
                 dim='kline_day',
                 startTS=pendulum.now().add(years=-5).timestamp(),  # 默认5年数据
                 endTS=pendulum.now().timestamp()):
    sql = {
        "query":
            {"bool": {"must": [{"bool": {"must": [{"term": {"code": {"value": code, "boost": 1}}},
                                                  {"range": {"time_key": {"from": int(startTS), "to": None,
                                                                          "include_lower": False,
                                                                          "include_upper": False, "boost": 1}}}],
                                         "adjust_pure_negative": True, "boost": 1}},
                               {"range": {"time_key": {"from": None, "to": int(endTS), "include_lower": False,
                                                       "include_upper": False, "boost": 1}}}],
                      "adjust_pure_negative": True, "boost": 1}},
        "_source": False,
        "stored_fields": "_none_",
        "docvalue_fields": ["close", "code", "create_time", "high", "low", "open", "pe", "spider_time", "time_key",
                            "turnover", "turnover_rate", "volume"],
        "sort": [{"_doc": {"order": "asc"}}]}
    res = es.search(index=dim, doc_type=dim, body=sql, size=10000)
    try:
        # res = es.search(index=dim, doc_type=dim, body=sql, size=10000)
        df = pd.DataFrame(list(map(serialize, res["hits"]["hits"]))).sort_values(by='time_key', ascending=True)
        df.set_index(['create_time'], inplace=True, )
        df.index = pd.DatetimeIndex(df.index)
    except Exception as e:
        df = pd.DataFrame()
    return df
get_es_stock()

,close,code,high,low,open,pe,spider_time,time_key,turnover,turnover_rate,volume
create_time,,,,,,,,,,,
2015-05-18 12:00:00,18.00,US.APLE,18.00,17.03,18.00,0.00,2018-05-25T18:04:46.000Z,1431921600,0.00,0.00,2197490
2015-05-19 12:00:00,18.80,US.APLE,19.15,17.92,17.92,0.00,2018-05-25T18:04:38.000Z,1432008000,0.00,0.00,1978735
2015-05-20 12:00:00,18.61,US.APLE,18.84,18.36,18.70,0.00,2018-05-25T18:04:30.000Z,1432094400,0.00,0.00,717649
2015-05-21 12:00:00,18.25,US.APLE,18.66,18.02,18.60,0.00,2018-05-25T18:04:23.000Z,1432180800,0.00,0.00,792997
2015-05-22 12:00:00,18.21,US.APLE,18.40,18.05,18.25,0.00,2018-05-25T18:04:16.000Z,1432267200,0.00,0.00,536245
2015-05-26 12:00:00,18.24,US.APLE,18.45,18.11,18.25,0.00,2018-05-25T18:03:47.000Z,1432612800,0.00,0.00,681449
2015-05-27 12:00:00,18.65,US.APLE,18.70,18.00,18.20,0.00,2018-05-25T18:03:40.000Z,1432699200,0.00,0.00,652738
2015-05-28 12:00:00,18.52,US.APLE,18.70,18.32,18.43,0.00,2018-05-25T18:03:33.000Z,1432785600,0.00,0.00,949781
2015-05-29 12:00:00,18.45,US.APLE,18.50,18.11,18.33,0.00,2018-05-25T18:03:25.000Z,1432872000,0.00,0.00,565490
2015-06-01 12:00:00,18.48,US.APLE,18.50,18.25,18.33,0.00,2018-05-25T18:03:04.000Z,1433131200,0.00,0.00,1014471
2015-06-02 12:00:00,18.67,US.APLE,18.70,18.33,18.33,0.00,2018-05-25T18:02:56.000Z,1433217600,0.00,0.00,922034
2015-06-03 12:00:00,18.93,US.APLE,18.95,18.51,18.70,0.00,2018-05-25T18:02:48.000Z,1433304000,0.00,0.00,1164994
2015-06-04 12:00:00,18.91,US.APLE,18.93,18.73,18.91,0.00,2018-05-25T18:02:41.000Z,1433390400,0.00,0.00,927962
2015-06-05 12:00:00,18.86,US.APLE,18.90,18.63,18.88,0.00,2018-05-25T18:02:34.000Z,1433476800,0.00,0.00,711912
2015-06-08 12:00:00,18.87,US.APLE,18.90,18.63,18.70,0.00,2018-05-25T18:02:13.000Z,1433736000,0.00,0.00,787229
2015-06-09 12:00:00,18.90,US.APLE,18.93,18.82,18.90,0.00,2018-05-25T18:02:06.000Z,1433822400,0.00,0.00,959340
2015-06-10 12:00:00,18.86,US.APLE,18.94,18.85,18.90,0.00,2018-05-25T18:01:58.000Z,1433908800,0.00,0.00,1091777
2015-06-11 12:00:00,18.86,US.APLE,18.90,18.83,18.86,0.00,2018-05-25T18:01:51.000Z,1433995200,0.00,0.00,860810
2015-06-12 12:00:00,18.71,US.APLE,18.86,18.66,18.78,0.00,2018-05-25T18:01:44.000Z,1434081600,0.00,0.00,911572
2015-06-15 12:00:00,18.80,US.APLE,18.85,18.58,18.68,0.00,2018-05-25T18:01:23.000Z,1434340800,0.00,0.00,776348
2015-06-16 12:00:00,18.89,US.APLE,18.94,18.62,18.79,0.00,2018-05-25T18:01:15.000Z,1434427200,0.00,0.00,1251089
2015-06-17 12:00:00,19.03,US.APLE,19.04,18.81,18.82,0.00,2018-05-25T18:01:08.000Z,1434513600,0.00,0.00,1460299
2015-06-18 12:00:00,19.10,US.APLE,19.20,18.95,18.99,0.00,2018-05-25T18:01:01.000Z,1434600000,0.00,0.00,997944
2015-06-19 12:00:00,18.85,US.APLE,19.10,18.83,19.08,0.00,2018-05-25T18:00:53.000Z,1434686400,0.00,0.00,440555
2015-06-22 12:00:00,18.69,US.APLE,18.99,18.69,18.85,0.00,2018-05-25T18:00:32.000Z,1434945600,0.00,0.00,647206
2015-06-23 12:00:00,18.76,US.APLE,19.00,18.37,18.45,0.00,2018-05-25T18:00:25.000Z,1435032000,0.00,0.00,972175
2015-06-24 12:00:00,19.00,US.APLE,19.24,18.62,18.74,0.00,2018-05-25T18:00:18.000Z,1435118400,0.00,0.00,742673
2015-06-25 12:00:00,18.95,US.APLE,19.14,18.91,19.00,0.00,2018-05-25T18:00:10.000Z,1435204800,0.00,0.00,1194241
2015-06-26 12:00:00,19.16,US.APLE,19.45,18.95,19.04,0.00,2018-05-25T18:00:03.000Z,1435291200,0.00,0.00,8790207
2015-06-29 12:00:00,18.86,US.APLE,19.17,18.86,19.02,0.00,2018-05-25T17:59:42.000Z,1435550400,0.00,0.00,722946
...,...,...,...,...,...,...,...,...,...,...,...
2018-12-28 05:00:00,14.25,US.APLE,14.57,14.19,14.37,17.50,2019-01-05T08:18:18.000Z,1545973200,25235639.55,0.77,1752876
2018-12-31 05:00:00,14.26,US.APLE,14.35,13.98,14.27,17.39,2019-01-29T10:54:49.000Z,1546232400,20391020.74,0.63,1439526
2019-01-02 05:00:00,14.20,US.APLE,14.30,13.98,14.13,17.32,2019-01-29T10:54:49.000Z,1546405200,18351091.31,0.57,1294896
2019-01-03 05:00:00,14.26,US.APLE,14.48,14.13,14.13,17.39,2019-01-29T10:54:49.000Z,1546491600,23334027.49,0.71,1627128
2019-01-04 05:00:00,14.61,US.APLE,14.68,14.40,14.45,17.82,2019-01-29T10:54:49.000Z,1546578000,17674855.30,0.53,1211413
2019-01-07 05:00:00,14.80,US.APLE,14.89,14.62,14.65,18.05,2019-01-29T10:54:49.000Z,1546837200,18093481.69,0.54,1222992
2019-01-08 00:00:00,15.18,US.APLE,15.23,14.84,14.87,0.00,2019-01-28T19:07:34.000Z,1546923600,0.00,0.00,1672491
2019-01-09 00:00:00,15.34,US.APLE,15.40,15.13,15.27,0.00,2019-01-28T19:07:34.000Z,1547010000,0.00,0.00,1087773
2019-01-10 00:00:00,15.50,US.APLE,15.56,15.30,15.40,0.00,2019-01-28T19:07:34.000Z,1547096400,0.00,0.00,1287960
2019-01-11 00:00:00,15.51,US.APLE,15.68,15.44,15.52,0.00,2019-01-31T14:36:35.000Z,1547182800,0.00,0.00,1180413
2019-01-14 00:00:00,15.46,US.APLE,15.51,15.36,15.49,0.00,2019-01-31T14:36:35.000Z,1547442000,0.00,0.00,841082
2019-01-15 00:00:00,15.50,US.APLE,15.52,15.40,15.49,0.00,2019-01-31T14:36:35.000Z,1547528400,0.00,0.00,749335
2019-01-16 00:00:00,15.70,US.APLE,15.76,15.52,15.52,0.00,2019-01-31T14:36:35.000Z,1547614800,0.00,0.00,735573
2019-01-17 00:00:00,15.72,US.APLE,15.80,15.67,15.68,0.00,2019-01-31T14:36:35.000Z,1547701200,0.00,0.00,1039995
2019-01-18 00:00:00,15.77,US.APLE,15.79,15.65,15.78,0.00,2019-01-31T14:36:35.000Z,1547787600,0.00,0.00,658331
2019-01-22 00:00:00,15.49,US.APLE,15.81,15.42,15.78,0.00,2019-01-31T14:36:35.000Z,1548133200,0.00,0.00,1041432
2019-01-23 00:00:00,15.41,US.APLE,15.55,15.31,15.52,0.00,2019-01-31T14:36:35.000Z,1548219600,0.00,0.00,971840
2019-01-24 00:00:00,15.32,US.APLE,15.43,15.29,15.39,0.00,2019-01-31T14:36:35.000Z,1548306000,0.00,0.00,878956
2019-01-25 00:00:00,15.69,US.APLE,15.75,15.31,15.33,0.00,2019-01-31T14:36:35.000Z,1548392400,0.00,0.00,1099584
2019-01-28 00:00:00,15.71,US.APLE,15.73,15.57,15.62,0.00,2019-01-31T14:37:08.000Z,1548651600,0.00,0.00,1416854
2019-01-29 00:00:00,15.93,US.APLE,15.93,15.69,15.70,0.00,2019-01-31T14:37:08.000Z,1548738000,0.00,0.00,976667
2019-01-30 00:00:00,16.13,US.APLE,16.26,15.96,15.99,0.00,2019-02-02T06:06:27.000Z,1548824400,0.00,0.00,1383017
2019-01-31 00:00:00,16.41,US.APLE,16.41,16.00,16.13,0.00,2019-02-03T06:07:09.000Z,1548910800,0.00,0.00,1840166
2019-02-01 00:00:00,16.13,US.APLE,16.37,15.81,16.34,0.00,2019-02-04T06:06:21.000Z,1548997200,0.00,0.00,1639938
2019-02-04 00:00:00,16.21,US.APLE,16.25,16.09,16.09,0.00,2019-02-07T06:06:26.000Z,1549256400,0.00,0.00,1232546
2019-02-05 00:00:00,16.21,US.APLE,16.30,16.10,16.25,0.00,2019-02-07T06:06:28.000Z,1549342800,0.00,0.00,963276
2019-02-06 00:00:00,16.13,US.APLE,16.28,16.11,16.21,0.00,2019-02-07T06:06:32.000Z,1549429200,0.00,0.00,618321
2019-02-11 00:00:00,16.05,US.APLE,16.05,15.86,15.92,0.00,2019-02-14T06:06:08.000Z,1549861200,0.00,0.00,1285825
2019-02-12 00:00:00,16.02,US.APLE,16.09,15.92,16.06,0.00,2019-02-14T06:06:10.000Z,1549947600,0.00,0.00,902066
2019-02-13 00:00:00,16.29,US.APLE,16.32,15.98,16.02,0.00,2019-02-14T06:06:13.000Z,1550034000,0.00,0.00,1375992

In [29]:
import requests
import arrow
start_ = arrow.now().timestamp
end_ = arrow.now().shift(years=-1).timestamp

url = "http://es:9200/_xpack/sql"

querystring = {"format":"json"}

payload = """{"query" : "SELECT * FROM kline_day_b where code='HK.01810' and  %s>time_key and time_key>%s  order by create_time desc"}"""%(start_,end_)
print(payload)
headers = {
    'content-type': "application/json",
    'authorization': "Basic ZWxhc3RpYzpMT09QMnRoZW1vb24=",
    'cache-control': "no-cache",
    'postman-token': "88a2e398-4dc0-439a-deae-3902fa9f4fa0"
    }

response = requests.request("POST", url, data=payload, headers=headers, params=querystring)
data = eval(response.text)
import datetime
import pandas as pd
df = pd.DataFrame(data['rows'],columns=[i['name'] for i in data['columns']])
df['create_time'] = df['create_time'].apply(lambda i : datetime.datetime.utcfromtimestamp(arrow.get(i).timestamp ).strftime("%Y-%m-%d %H:%M:%S"))
df.set_index('create_time')

{"query" : "SELECT * FROM kline_day_b where code='HK.01810' and  1550133778>time_key and time_key>1518597778  order by create_time desc"}

,close,code,high,low,open,pe,spider_time,time_key,turnover,turnover_rate,volume
create_time,,,,,,,,,,,
2019-02-13 00:00:00,11.38,HK.01810,11.42,10.60,10.72,0.0,2019-02-14T08:03:00.000Z,1549987200,1.740858e+09,0.91,156224007
2019-02-12 00:00:00,10.60,HK.01810,11.10,10.54,10.94,0.0,2019-02-14T08:03:00.000Z,1549900800,1.271097e+09,0.69,117906288
2019-02-11 00:00:00,10.70,HK.01810,10.90,10.22,10.34,0.0,2019-02-14T08:03:00.000Z,1549814400,1.511208e+09,0.82,140732181
2019-02-08 00:00:00,10.26,HK.01810,10.32,10.00,10.30,0.0,2019-02-11T08:02:39.000Z,1549555200,5.863933e+08,0.33,57644100
2019-02-04 00:00:00,10.36,HK.01810,10.50,10.28,10.46,0.0,2019-02-11T02:08:15.000Z,1549209600,5.164821e+08,0.29,49681936
2019-02-01 00:00:00,10.44,HK.01810,10.44,9.87,9.90,0.0,2019-02-11T02:08:15.000Z,1548950400,1.306387e+09,0.74,127579302
2019-01-31 00:00:00,9.84,HK.01810,9.98,9.82,9.95,0.0,2019-02-11T02:08:15.000Z,1548864000,4.947329e+08,0.29,50076676
2019-01-30 00:00:00,9.84,HK.01810,9.95,9.84,9.90,0.0,2019-02-01T08:03:07.000Z,1548777600,3.240374e+08,0.19,32802193
2019-01-29 00:00:00,9.91,HK.01810,9.99,9.86,9.92,0.0,2019-02-01T08:03:07.000Z,1548691200,3.325165e+08,0.19,33530991
2019-01-28 00:00:00,10.02,HK.01810,10.22,9.94,10.20,0.0,2019-01-31T08:14:33.000Z,1548604800,4.444497e+08,0.26,44290538
2019-01-25 00:00:00,10.10,HK.01810,10.26,10.02,10.04,0.0,2019-01-31T08:14:33.000Z,1548345600,6.523073e+08,0.38,64613994
2019-01-24 00:00:00,10.00,HK.01810,10.12,9.92,10.00,0.0,2019-01-30T08:09:35.000Z,1548259200,4.123682e+08,0.24,41246163
2019-01-23 00:00:00,9.97,HK.01810,10.02,9.89,9.93,0.0,2019-01-29T10:41:44.000Z,1548172800,3.773203e+08,0.22,37825844
2019-01-22 00:00:00,10.00,HK.01810,10.40,9.92,10.38,0.0,2019-01-29T10:41:44.000Z,1548086400,6.018609e+08,0.38,59735038
2019-01-21 00:00:00,10.30,HK.01810,10.48,10.22,10.22,0.0,2019-01-29T10:41:44.000Z,1548000000,8.940091e+08,0.55,86294625
2019-01-18 00:00:00,10.16,HK.01810,10.24,9.89,9.97,0.0,2019-01-29T10:41:44.000Z,1547740800,1.411026e+09,0.89,139896858
2019-01-17 00:00:00,9.74,HK.01810,9.95,9.67,9.81,0.0,2019-01-29T10:41:44.000Z,1547654400,7.956826e+08,0.52,81046985
2019-01-16 00:00:00,9.70,HK.01810,9.94,9.59,9.70,0.0,2019-01-29T10:41:44.000Z,1547568000,3.510053e+09,2.34,367223812
2019-01-15 00:00:00,9.96,HK.01810,10.16,9.83,10.06,0.0,2019-01-29T10:41:44.000Z,1547481600,8.224324e+08,0.52,82269650
2019-01-14 00:00:00,10.02,HK.01810,10.48,10.00,10.42,0.0,2019-01-29T10:41:44.000Z,1547395200,5.491901e+08,0.35,54264395
2019-01-11 00:00:00,10.34,HK.01810,10.52,10.00,10.18,0.0,2019-01-29T10:41:44.000Z,1547136000,1.305956e+09,0.81,126655283
2019-01-10 00:00:00,9.97,HK.01810,10.04,9.44,9.63,0.0,2019-01-29T10:41:44.000Z,1547049600,3.570232e+09,2.40,376414318
2019-01-09 00:00:00,10.34,HK.01810,11.10,10.34,10.50,0.0,2019-01-29T10:41:44.000Z,1546963200,2.572710e+09,1.54,240922422
2019-01-08 00:00:00,11.10,HK.01810,12.16,11.06,12.16,0.0,2019-01-29T10:41:44.000Z,1546876800,1.034136e+09,0.58,91106400
2019-01-07 00:00:00,12.00,HK.01810,12.38,11.96,12.32,0.0,2019-01-29T10:41:44.000Z,1546790400,3.432924e+08,0.18,28376962
2019-01-04 00:00:00,11.96,HK.01810,12.04,11.50,11.66,0.0,2019-01-29T10:41:44.000Z,1546531200,3.077138e+08,0.16,25943844
2019-01-03 00:00:00,11.76,HK.01810,12.32,11.76,12.28,0.0,2019-01-29T10:41:44.000Z,1546444800,4.626461e+08,0.25,38910146
2019-01-02 00:00:00,12.20,HK.01810,12.98,12.18,12.98,0.0,2019-01-29T10:41:44.000Z,1546358400,4.004546e+08,0.21,32515761
2018-12-31 00:00:00,12.92,HK.01810,13.10,12.84,13.10,0.0,2019-01-29T10:41:44.000Z,1546185600,1.454018e+08,0.07,11246279
2018-12-28 00:00:00,12.94,HK.01810,13.16,12.84,13.00,0.0,2019-01-05T08:08:45.000Z,1545926400,2.400482e+08,0.12,18540002
...,...,...,...,...,...,...,...,...,...,...,...
2018-08-17 00:00:00,16.36,HK.01810,16.74,16.26,16.60,0.0,2018-08-17T16:12:52.000Z,1534435200,4.393735e+08,0.00,26655983
2018-08-16 00:00:00,16.24,HK.01810,16.60,15.52,16.16,0.0,2018-08-16T16:12:55.000Z,1534348800,9.712761e+08,0.00,60546391
2018-08-15 00:00:00,16.30,HK.01810,17.34,16.22,17.28,0.0,2018-08-15T16:13:01.000Z,1534262400,1.309370e+09,0.01,79753065
2018-08-14 00:00:00,17.16,HK.01810,17.60,17.00,17.60,0.0,2018-08-14T16:12:58.000Z,1534176000,8.761294e+08,0.00,51105928
2018-08-13 00:00:00,17.44,HK.01810,18.06,17.24,17.98,0.0,2018-08-13T16:12:57.000Z,1534089600,8.598668e+08,0.00,49053111
2018-08-10 00:00:00,18.16,HK.01810,18.60,18.00,18.30,0.0,2018-08-10T16:12:51.000Z,1533830400,9.961085e+08,0.00,54535948
2018-08-09 00:00:00,18.08,HK.01810,18.60,17.26,17.40,0.0,2018-08-09T16:12:52.000Z,1533744000,1.974088e+09,0.01,109541974
2018-08-08 00:00:00,17.14,HK.01810,17.62,17.02,17.50,0.0,2018-08-08T16:12:51.000Z,1533657600,6.581907e+08,0.00,37947677
2018-08-07 00:00:00,17.42,HK.01810,17.62,17.22,17.30,0.0,2018-08-07T16:12:46.000Z,1533571200,5.055670e+08,0.00,29000537
2018-08-06 00:00:00,17.22,HK.01810,17.68,17.10,17.20,0.0,2018-08-06T16:12:59.000Z,1533484800,6.936899e+08,0.00,39896098
2018-08-03 00:00:00,17.00,HK.01810,17.68,16.90,17.32,0.0,2018-08-03T16:12:53.000Z,1533225600,8.105120e+08,0.00,47386901
2018-08-02 00:00:00,17.26,HK.01810,18.14,16.96,18.00,0.0,2018-08-02T16:12:59.000Z,1533139200,1.382415e+09,0.01,80125110
2018-08-01 00:00:00,17.86,HK.01810,18.26,17.56,17.94,0.0,2018-08-01T16:12:48.000Z,1533052800,7.529300e+08,0.00,42088808
2018-07-31 00:00:00,17.60,HK.01810,18.48,17.42,18.42,0.0,2018-07-31T16:12:53.000Z,1532966400,1.776264e+09,0.01,100190678
2018-07-30 00:00:00,18.68,HK.01810,18.92,18.32,18.86,0.0,2018-07-30T16:12:46.000Z,1532880000,7.989302e+08,0.00,43124305
2018-07-27 00:00:00,19.04,HK.01810,19.12,18.30,18.32,0.0,2018-07-27T16:12:43.000Z,1532620800,1.289481e+09,0.00,68204685
2018-07-26 00:00:00,18.30,HK.01810,18.84,18.12,18.80,0.0,2018-07-26T16:12:49.000Z,1532534400,7.509036e+08,0.00,40951672
2018-07-25 00:00:00,18.58,HK.01810,18.88,18.18,18.56,0.0,2018-07-25T16:12:45.000Z,1532448000,1.332254e+09,0.00,72027810
2018-07-24 00:00:00,18.24,HK.01810,19.70,18.20,19.10,0.0,2018-07-24T16:12:47.000Z,1532361600,2.154646e+09,0.01,113828488
2018-07-23 00:00:00,19.02,HK.01810,19.98,19.00,19.88,0.0,2018-07-23T16:12:49.000Z,1532275200,1.603506e+09,0.01,82544900
2018-07-20 00:00:00,19.88,HK.01810,20.45,19.50,20.10,0.0,2018-07-20T16:13:03.000Z,1532016000,2.218409e+09,0.01,111713800
2018-07-19 00:00:00,20.10,HK.01810,21.90,19.82,21.70,0.0,2018-07-19T16:12:49.000Z,1531929600,3.143126e+09,0.01,153563433
2018-07-18 00:00:00,21.55,HK.01810,22.20,21.40,21.40,0.0,2018-07-18T16:12:46.000Z,1531843200,3.117816e+09,0.01,142583771
2018-07-17 00:00:00,20.90,HK.01810,21.70,20.55,21.45,0.0,2018-07-17T16:12:50.000Z,1531756800,2.063298e+09,0.01,97690237
2018-07-16 00:00:00,21.05,HK.01810,21.30,19.40,19.94,0.0,2018-07-16T16:12:50.000Z,1531670400,4.350351e+09,0.01,211621432
2018-07-13 00:00:00,21.45,HK.01810,21.80,19.52,19.60,0.0,2018-07-13T16:38:28.000Z,1531411200,7.622371e+09,0.02,364065075
2018-07-12 00:00:00,19.26,HK.01810,19.70,19.02,19.40,0.0,2018-07-12T16:38:24.000Z,1531324800,2.569988e+09,0.01,132592630
2018-07-11 00:00:00,19.00,HK.01810,19.80,18.30,18.50,0.0,2018-07-11T16:38:25.000Z,1531238400,7.222885e+09,0.02,374721138
2018-07-10 00:00:00,19.00,HK.01810,19.34,17.00,17.00,0.0,2018-07-10T16:38:23.000Z,1531152000,9.750590e+09,0.03,534072218
2018-07-09 00:00:00,16.80,HK.01810,17.00,16.00,16.60,0.0,2018-07-09T16:38:29.000Z,1531065600,7.682446e+09,0.02,462182642

In [18]:
bt.feeds.PandasData(dataname= df)

NameError: name 'bt' is not defined